Write a Python program which accepts the radius of a circle from the user and compute the area.

In [ ]:
import math as M
radius=float(input('Enter the radius of the circle'))
Area=(M.pi*radius*radius)
print('Area of the circle is:',Area)

Enter the radius of the circle3
Area of the circle is: 28.274333882308138

Write a Python Program to accept the details of a student like name, roll number and mark and display it.

In [ ]:
import pandas as pd

In [ ]:
#dataframe
name=['Anisha']
roll_no=['21']
mark=['78']

In [ ]:
data=pd.DataFrame({'Names':name,
'Roll_No':roll_no,
'Mark':mark})
data

    Names Roll_No Mark
0  Anisha      21   78

Write a Python program to get the largest number from a list.

In [ ]:
import math
list1=[]
num=int(input('Enter the limit:'))
for i in range(1,num+1):
  elements=int(input('Enter the element'))
  list1.append(elements)
print('The largest number is:',max(list1))

Enter the limit:4
Enter the element12
Enter the element3
Enter the element47
Enter the element10
The largest number is: 47

Given a range of first 10 numbers, write a Python program to iterate from start number to the end number and print the sum of the current number and previous number.

In [ ]:
for i in range (1,10):
  k=i-1
  print('previous number',k)
  print('current number',i)
  sum=k+i
  print('The sum is:',sum)

previous number 0
current number 1
The sum is: 1
previous number 1
current number 2
The sum is: 3
previous number 2
current number 3
The sum is: 5
previous number 3
current number 4
The sum is: 7
previous number 4
current number 5
The sum is: 9
previous number 5
current number 6
The sum is: 11
previous number 6
current number 7
The sum is: 13
previous number 7
current number 8
The sum is: 15
previous number 8
current number 9
The sum is: 17

Write a Python program to print only those numbers which are divisible of 5.

In [ ]:
import math
num=int(input('Enter the limit'))
list2=[]
for i in range(num):
  elements=int(input('Enter the elements:'))
  list2.append(elements)
for i in list2:
  if(i%5==0):
    print(i)

Enter the limit4
Enter the elements:3
Enter the elements:5
Enter the elements:10
Enter the elements:13
5
10

Write a Python program to check whether a number is prime or not.

In [ ]:
i=0
num=int(input('Enter a number'))
if(num%2==0):
  print('Its not a prime number')
else:
   print('It is a prime number')

Enter a number3
It is a prime number

7. Write a Python program to reverse a list using for loop.

In [ ]:
from collections.abc import Reversible
listl=[]
num=int(input('Enter the limit'))
for i in range(num):
  values=int(input('Enter the elements:'))
  listl.append(values)
  print(listl)

Enter the limit2
Enter the elements:1
Enter the elements:2
[1] <built-in method reverse of list object at 0x7ab9e1c373c0>
[1, 2] <built-in method reverse of list object at 0x7ab9e1c373c0>

Write a Python program to print the following pattern

In [3]:
def print_pattern(n):
  if n>0:
    print_pattern(n-1)
    print('*' *n)
rows=int(input('Enter the number of rows of the pattern'))
print_pattern(rows)

Enter the number of rows of the pattern4
*
**
***
****

Write a Python program to find the maximum of three numbers

In [1]:


list1=[]
num=int(input('Enter the limit:'))
for i in range(1,num+1):
  elements=int(input('Enter the element'))
  list1.append(elements)
print('The largest number is:',max(list1))

Enter the limit:3
Enter the element34
Enter the element12
Enter the element7
The largest number is: 34